In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [8]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [20]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
param_grid = {'kernel':['rbf','poly','sigmoid','linear'],
              'C':[10,100,1000,2000,3000],'gamma':['auto','scale']} 



grid = GridSearchCV(SVR(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

Fitting 3 folds for each of 40 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done  97 out of 120 | elapsed:    5.3s remaining:    1.2s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:    5.7s finished
C:\Anaconda3\envs\ML\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3,
                           epsilon=0.1, gamma='auto_deprecated', kernel='rbf',
                           max_iter=-1, shrinking=True, tol=0.001,
                           verbose=False),
             iid='warn', n_jobs=-1,
             param_grid={'C': [10, 100, 1000, 2000, 3000],
                         'gamma': ['auto', 'scale'],
                         'kernel': ['rbf', 'poly', 'sigmoid', 'linear']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [21]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'C': 3000, 'gamma': 'auto', 'kernel': 'poly'}: 0.8577898390283567

In [17]:
table=pd.DataFrame.from_dict(re)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.036323,0.001695,0.009654,0.000480,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.029133,-0.129874,-0.116121,-0.072174,0.071974,18
1,0.036631,0.006230,0.008311,0.002618,10,poly,"{'C': 10, 'kernel': 'poly'}",0.076672,-0.075966,-0.064307,-0.021091,0.069408,16
2,0.045981,0.004574,0.010847,0.000838,10,sigmoid,"{'C': 10, 'kernel': 'sigmoid'}",0.079325,-0.093756,-0.075898,-0.029987,0.077767,17
3,0.025141,0.000249,0.004998,0.000415,10,linear,"{'C': 10, 'kernel': 'linear'}",0.429231,0.216643,0.223417,0.289920,0.098712,14
4,0.037013,0.002441,0.009653,0.000453,100,rbf,"{'C': 100, 'kernel': 'rbf'}",0.321370,0.110819,0.106686,0.179784,0.100299,15
5,0.034339,0.004623,0.006010,0.000019,100,poly,"{'C': 100, 'kernel': 'poly'}",0.548034,0.409799,0.393006,0.450389,0.069500,11
6,0.043173,0.005342,0.011187,0.001324,100,sigmoid,"{'C': 100, 'kernel': 'sigmoid'}",0.531784,0.389102,0.392744,0.437982,0.066456,12
7,0.041986,0.006173,0.006352,0.001689,100,linear,"{'C': 100, 'kernel': 'linear'}",0.635759,0.554602,0.548127,0.579559,0.039894,10
8,0.071023,0.012870,0.009822,0.000239,1000,rbf,"{'C': 1000, 'kernel': 'rbf'}",0.741114,0.633662,0.608126,0.661057,0.057653,7
9,0.064744,0.002516,0.005997,0.000018,1000,poly,"{'C': 1000, 'kernel': 'poly'}",0.811859,0.779390,0.752543,0.781298,0.024260,4
10,0.056044,0.009474,0.011340,0.000462,1000,sigmoid,"{'C': 1000, 'kernel': 'sigmoid'}",0.376414,0.269267,0.323356,0.323072,0.043755,13
11,0.068858,0.011475,0.004493,0.000407,1000,linear,"{'C': 1000, 'kernel': 'linear'}",0.709931,0.621636,0.621345,0.651037,0.041714,9
12,0.062695,0.004105,0.010680,0.001697,2000,rbf,"{'C': 2000, 'kernel': 'rbf'}",0.808850,0.763675,0.723842,0.765505,0.034738,5
13,0.099674,0.008743,0.006317,0.000470,2000,poly,"{'C': 2000, 'kernel': 'poly'}",0.822528,0.803686,0.773314,0.799868,0.020277,2
14,0.057697,0.005427,0.010324,0.000496,2000,sigmoid,"{'C': 2000, 'kernel': 'sigmoid'}",-0.054850,-0.181768,-0.080764,-0.105737,0.054749,19
15,0.137627,0.082347,0.004378,0.000559,2000,linear,"{'C': 2000, 'kernel': 'linear'}",0.709784,0.622011,0.676058,0.669330,0.036157,6
16,0.066633,0.002855,0.011311,0.001235,3000,rbf,"{'C': 3000, 'kernel': 'rbf'}",0.816813,0.787582,0.761656,0.788715,0.022539,3
17,0.192654,0.063975,0.005350,0.000961,3000,poly,"{'C': 3000, 'kernel': 'poly'}",0.822318,0.804323,0.775561,0.800758,0.019259,1
18,0.046660,0.000495,0.010020,0.000043,3000,sigmoid,"{'C': 3000, 'kernel': 'sigmoid'}",-0.956222,-1.129913,-0.830662,-0.972247,0.122627,20
19,0.112037,0.053845,0.005142,0.000219,3000,linear,"{'C': 3000, 'kernel': 'linear'}",0.709612,0.625295,0.633109,0.656065,0.038060,8

In [ ]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

In [ ]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))